@model ToanThangSite.Entities.Core.Introduce

@{
    ViewBag.Title = "IntroduceCreate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbwidget">

    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")">Home</a> <span class="divider">/</span></li>
        <li class="active">Edit</li>
    </ul>
</div>
<div class="pagetitle">
    <h1>Đăng</h1>
</div>
<div class="maincontent">
    <div class="contentinner content-elements">

        <div class="row-fluid">
            <div class="span12">
                @using (Html.BeginForm("IntroduceCreate", "Introduce", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="widgetcontent">
                        <div id="accordion" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                            <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-accordion-header-0" aria-controls="ui-accordion-accordion-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><a href="#">Thông tin cơ bản</a></h3>
                            <div class="stdform ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-accordion-accordion-panel-0" aria-labelledby="ui-accordion-accordion-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
                                <p>
                                    <label>Vị trí</label>
                                    <span class="field">
                                        @Html.TextBoxFor(model => model.Position, new { @class = "input-large", @placeholder = "Vị trí" })
                                    </span>
                                </p>
                                <p>
                                    <label>Tiêu đề</label>
                                    <span class="field">
                                        @Html.TextBoxFor(model => model.Title, new { @class = "input-block-level", @placeholder = "Tiêu đề" })
                                    </span>
                                </p>
                                <p>
                                    <label>Mô tả</label>
                                    <span class="field">
                                        @Html.TextAreaFor(model => model.Description, new { @class = "span12", @cols = "100", @rows = "5" })
                                    </span>
                                    <small class="desc">Chú ý: Mô tả ngắn cho bài viết với nội dung có liên quan đến bài viết và không quá dài.</small>
                                </p>
                                <p>
                                    <label>Xem trước ảnh</label>
                                    <span>
                                        <img src="~/Areas/Admin/Content/Fileuploads/Article/image2.png" id="reviewImg" style="width:auto;height:220px" />
                                    </span>
                                </p>
                                <p>
                                    <label>Hình Ảnh</label>
                                    <span>
                                        @Html.TextBoxFor(model => model.Avatar, new { @class = "span10", @id = "Picture" })
                                        <input type="button" id="Browse" value="..." class="btn btn-default fr" style="height:30px;width:30px" />
                                    </span>
                                    <script type="text/javascript">
                                        jQuery('#Browse').click(function () {
                                            var finder = new CKFinder();
                                            finder.selectActionFunction = function (fileUrl) {
                                                // lấy file ảnh cuối cùng
                                                //fileUrl = fileUrl.substring(fileUrl.lastIndexOf("/") + 1);
                                                jQuery('#Picture').val(fileUrl);
                                                jQuery('#reviewImg').attr("src", fileUrl);
                                            };
                                            finder.popup();
                                        });
                                    </script>
                                </p>
                                <p>
                                    <label>Trạng thái</label>
                                    <span class="field ">
                                        @Html.RadioButtonFor(model => model.Status, 1, new { @name = "ckbStatus", @checked = "checked" }) Hiện
                                        @Html.RadioButtonFor(model => model.Status, 0, new { @name = "ckbStatus" }) Ẩn
                                    </span>
                                </p>
                            </div>
                            <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-accordion-header-1" aria-controls="ui-accordion-accordion-panel-1" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Thông tin chi tiết</a></h3>
                            <div class="stdform ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-accordion-panel-1" aria-labelledby="ui-accordion-accordion-header-1" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                                <p>
                                    <span class="span12">
                                        @Html.TextAreaFor(model => model.Content, new { @class = "span12", @cols = "100", @rows = "5",@id="txt_content" })
                                    </span>
                                    <script type="text/javascript">
                                            CKEDITOR.replace("Content");
                                    </script>
                                </p>
                            </div>
                            <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-accordion-accordion-header-3" aria-controls="ui-accordion-accordion-panel-3" aria-selected="false" tabindex="-1"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span><a href="#">Thông tin khác</a></h3>
                            <div class="stdform ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-accordion-accordion-panel-3" aria-labelledby="ui-accordion-accordion-header-3" role="tabpanel" aria-expanded="false" aria-hidden="true" style="display: none;">
                                <p>
                                    <label>Ngày đăng</label>
                                    <span class="field"><input type="text" name="input6" class="input-block-level" readonly="readonly" placeholder="Ngày đăng"></span>
                                    <small class="desc">Chú ý: Dữ liệu tự động cập nhật, không cần nhập.</small>
                                </p>
                                <p>
                                    <label>Người đăng</label>
                                    <span class="field"><input type="text" name="input6" class="input-block-level" readonly="readonly" placeholder="Người đăng"></span>
                                    <small class="desc">Chú ý: Dữ liệu tự động cập nhật, không cần nhập.</small>
                                </p>
                            </div>

                        </div>
                        <p class="stdformbutton">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                            <button type="reset" class="btn">Hủy</button>
                            <a href="@Url.Action("IntroduceList","Introduce")" class="btn btn-primary fr"><i class="icon  icon-arrow-left"></i>&nbsp;Về trang danh sách</a>
                        </p>
                    </div>
                }
            @*<script>

                tinymce.init({

                    selector: "#txt_content",
                    width: '100%',
                    height: 150,
                    statusbar: true,
                    menubar: false,
                    theme: "modern",
                    //skin: 'light',

                    //setup: function (ed) {
                    //    ed.on('init', function () {
                    //        this.getDoc().body.style.fontSize = '13px';
                    //        this.getDoc().body.style.fontFamily = 'Arial, sans-serif';
                    //    });
                    //},
                    paste_data_images: true,
                    images_upload_url: '/Areas/Admin/UploadImageController/UploadImage',
                    images_upload_base_path: '/Content',

                    plugins: [
                        "advlist autolink lists link image charmap hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons textcolor colorpicker textpattern fullscreen preview codesample base64_image"
                    ],
                    toolbar: "styleselect | undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | forecolor | preview codesample base64_image media"
                });

                // Prevent bootstrap dialog from blocking focusin
                //$(document).on('focusin', function (e) {
                //    if ($(e.target).closest(".mce-window").length) {
                //        e.stopImmediatePropagation();
                //    }
                //});

            </script>*@
            </div><!--span6-->
        </div><!--row-fluid-->
    </div><!--contentinner-->
</div>
