@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}

@*<section id="body">
            @Html.Action("ProductTypical","Product")
            @Html.Action("HotProduct", "Product")
    </section>*@


@Html.Action("Slider", "Slider")

@Html.Action("HomeProduct", "Product")

@Html.Action("ArticleHot", "Article")

