@model IEnumerable<ToanThangSite.Entities.Core.Article>
@using ToanThangSite.Business.Common
<div class="section_3">
    <section class="collection-wrapper">
        <div class="widget">
            <div class="container">
                <div class="widget-title">
                    <h3 class="has-leaves">
                        <span>Loolbook</span>
                    </h3>
                </div>
                @foreach (var item in Model)
                {
                    var url = "/" + item.Title.ToUrlFormat(true) + ".html";
                    <div class="col-sm-4 col-xs-12 collection-wrap">
                        <div class="col-img-wrap" style="background:url('@item.Thumb')"></div>
                        <div class=""><i class="fa fa-calendar"></i>&nbsp;&nbsp;<span> Posted on @Convert.ToDateTime(item.CreateTime).Day @Convert.ToDateTime(item.CreateTime).ToString("MMMM") @Convert.ToDateTime(item.CreateTime).Year</span></div>
                        <h4> @item.Title</h4>
                        <p>
                            @item.DescriptionLong
                        </p>
                        <a href="@url" class="btn btn-primary">View Blog</a>
                    </div>
                }
                <div class="clr"></div>
            </div>
        </div>
    </section>
</div>