@model IEnumerable<ToanThangSite.Entities.Core.Article>
@using ToanThangSite.Business.Common

@*<div class="index-news uk-width-medium-5-10">
    <div>
        @foreach (var item in Model)
        {
            var url = "/"+item.Title.ToUrlFormat(true) +".html";
            <figure class="uk-clearfix">
                <a href="@url" title="@item.Title" class="fc-thumb">
                    <img src="@item.Thumb" alt="@item.Title.ToUrlFormat(true)" />
                </a>
                <figcaption>
                    <h3 class="title"><a href="@url" title="@item.Title">@item.Title</a></h3>
                </figcaption>
            </figure>
        }

    </div>
</div>*@


<div class="section_3">
    <section class="collection-wrapper">
        <div class="widget">
            <div class="container">
                <div class="widget-title">
                    <h3 class="has-leaves">
                        <span>COLLECTIONS</span>
                    </h3>
                </div>
                <div class="col-sm-4 col-xs-12 collection-wrap">
                    <div class="col-img-wrap" style="background:url('/Content/cdn.shopify.com/s/files/1/1187/0028/collections/2020_white_dress_edit_wide_banner_grande80d8.jpg')"></div>
                    <div class=""><i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>Posted on 24 March 2020</span></div>
                    <h4>Moments</h4>
                    <p>
                        Life is made up of a multitude of precious, fleeting moments. The freshness of dawn’s first light, the tinkling laughter of a child, the familial chaos of getting ready for the day. The aromatic taste of a first sip of coffee. The tart vitality of a fresh lemon on the nose, or the first kick of chilli on the tongue. Presenting “Moments” - a Missing Piece collection that celebrates the beauty in your everyday life.   These are pieces you’ll want to wear for special occasions, for casual office days, for working from home, or for relaxed downtime lounging. Some of your favourite TMP details are at play here: clever cuts, convertible designs and gorgeous fabrics. Every piece is ultra-wearable, and designed with versatility and customisability in mind. Dress these pieces up or down. Wear them back to front or front to back. Or take that outfit apart and pair it with different tops or bottoms. Wear these pieces often, and make them your own. Live in the Moment. Live well, live beautifully. Treasure each perfect, imperfect minute with gratefulness---and go ahead and look great while you're at it!
                    </p>
                    <a href="collections/moments.html" class="btn btn-primary">View Products</a>
                </div>

                <div class="col-sm-4 col-xs-12 collection-wrap">
                    <div class="col-img-wrap" style="background:url('/Content/cdn.shopify.com/s/files/1/1187/0028/collections/TMP_FLIGHTOFFANCY-1465_grande6d0e.jpg')"></div>
                    <div class=""><i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>Posted on 19 November 2019</span></div>
                    <h4>Flight of Fancy</h4>
                    <p>
                        Our CNY2020 collection invites the wearer to leave behind the mundane, and let their soul take flight to a paradise of light, colour, imagination and movement.  
                        Botanical and bird prints and painterly patterns meet a springtime palette of blues, greens, and fuchsia, pink and coral hues. Expect modern cheongsams with a twist, as well as the feminine textures and flattering cuts that The Missing Piece is known for, as well.
                        For the first time, this collection will also introduce a number of ingenious new designs, with convertible details that allow the wearer to change their look effortlessly. These clever convertible classics do double or even triple duty. Necklines, skirt lengths, draping and fit become customisable thanks to well-placed fastenings. Dresses effortlessly become casual separates to take you from everyday day life and on that Flight of Fancy whenever you choose. 
                    </p>
                    <a href="collections/flight-of-fancy.html" class="btn btn-primary">View Products</a>
                </div>

                <div class="col-sm-4 col-xs-12 collection-wrap">
                    <div class="col-img-wrap" style="background:url('/Content/cdn.shopify.com/s/files/1/1187/0028/collections/DSCF1585_grande2d22.jpg')"></div>
                    <div class=""><i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>Posted on 13 August 2019</span></div>
                    <h4>Eden</h4>
                    <p>
                        With our new capsule collection, we are heading back to Eden. Back to a time where things were simple, free and unhindered, and yet perfectly beautiful.
                        Inspired by dancing light through leafy canopies, the whisper of wind through rustling grass, and organic textures and colours, we've created easy pieces with pretty botanical details and ladylike hemlines. With sustainable textured fabrics as our canvas and playing with customised embroidery and lace, we've tried to paint a picture of the Garden of Eden in our mind's eye; a picture of harmony, natural beauty and simplicity. 
                        In flowy silks, elegant lace and light fabrics, these pieces aim to inspire movement. We imagine you lightly moving through dreamy forests, lush foliage and beautiful flowering trees in them, creating poetry in the everyday moments of life.
                    </p>
                    <a href="collections/eden.html" class="btn btn-primary">View Products</a>
                </div>

                <div class="clr"></div>
            </div>
        </div>
    </section>
</div>