@model IEnumerable<ToanThangSite.Entities.Core.Product>
@using ToanThangSite.Business.Common
<script>
    window.onload = function () {
        do_validate();
    };
</script>
<div class="product-slide-2 mb25">
    <div class="uk-container uk-container-center">
        <div class="border">
            <div class="heading">
                <h3 class="title" style="color: #191ec5 !important;  border-bottom: 3px solid #1530b5;">Sản phẩm</h3>
            </div>
            <div class="border">
                <div class="uk-grid uk-grid-small uk-grid-width-small-1-2 uk-grid-width-medium-1-2 uk-grid-width-large-1-3" data-uk-grid-match="{target:'.title'}">
                    @foreach (var item in Model)
                    {
                        var url = "/" + item.Title.ToUrlFormat(true) +".html";
                        <div class="mb35">
                            <figure class="item">
                                <div class="upper">
                                    <a href="@url" title="@item.Title" class="thumb">
                                        <img src="@item.Thumb" alt="@item.Title.ToUrlFormat(true)">
                                    </a>
                                    <h3 class="title nl2"><a href="@url" title="@item.Title">@item.Title</a></h3>
                                </div>
                                <figcaption style="background: #2150d6;">
                                    <p class="text-1">
                                        <span>Giá bán: </span>
                                        <label>@String.Format("{0:0,0}", item.Price) VND</label>
                                    </p>
                                    <p class="text-2">
                                        <span>Khuyến mại: </span>
                                        <label>@if (item.PriceSale != "" && item.PriceSale != null)
                                        {
                                            @String.Format("{0:0,0} VND", item.PriceSale)
                                        }
                                        else
                                        {
                                            @String.Format("{0:0,0} VND", item.Price)
                                        }</label>
                                    </p>
                                </figcaption>
                                <img src="/Content/img/icon/new.png" alt="news" class="new">
                            </figure>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>      