@model ToanThangSite.Entities.Core.Reason
@{
    ViewBag.Title = "CreateReason";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbwidget">

    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")">Home</a> <span class="divider">/</span></li>
        <li class="active">Create</li>
    </ul>
</div>
<div class="pagetitle">
    <h1>Thêm mới</h1>
</div>
<div class="maincontent">
    <div class="contentinner content-elements">

        <div class="row-fluid">
            <div class="span12">
                @using (Html.BeginForm("CreateReason", "Product", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="widgetcontent">
                        <div id="accordion" class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                            <h3 class="ui-accordion-header ui-helper-reset ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-accordion-accordion-header-0" aria-controls="ui-accordion-accordion-panel-0" aria-selected="true" tabindex="0"><span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span><a href="#">Thông tin cơ bản</a></h3>
                            <div class="stdform ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-accordion-accordion-panel-0" aria-labelledby="ui-accordion-accordion-header-0" role="tabpanel" aria-expanded="true" aria-hidden="false" style="display: block;">
                                <p>
                                    <label>Tiêu đề lý do</label>
                                    <span class="field">
                                        @Html.TextBoxFor(model => model.Title, new { @class = "input-block-level", @placeholder = "Tiêu đề" })
                                        <small>Chú ý: Tiêu đề cho lý do. Ví dụ: 5 lý do mua hàng tại thảo dược toàn thắng</small>
                                    </span>
                                </p>
                                <p>
                                    @Html.TextBoxFor(model => model.Content, new { @style = "display:none", @id = "model_content" })
                                </p>
                                <p>
                                    @Html.TextBoxFor(model => model.ProductID, new { @style = "display:none" })
                                </p>
                                <p id="group_content">
                                    <span class="field">
                                        <input type="text" class="span8 content_reason" style="margin-bottom:10px" />
                                        <button class="btn" onclick="removec(this)" style="margin-bottom:10px">Xóa</button>
                                    </span>
                                </p>
                                <div class="divider10"></div>
                                <p>
                                    <input type="button" onclick="addinputc()" class="btn add_reason" value="Thêm lý do" />
                                </p>
                            </div>

                        </div>
                        <p class="stdformbutton">
                            <a href="#" class="btn btn-primary" onclick="savea()" id="a_Save">Lưu</a>
                            <button type="submit" style="display:none" id="btn_Save" class="btn btn-primary">Lưu</button>
                            <button type="reset" class="btn">Hủy</button>
                            <a href="@Url.Action("ProductList","Product")" class="btn btn-primary fr"><i class="icon  icon-arrow-left"></i>&nbsp;Về trang danh sách</a>
                        </p>
                    </div>
                }
                <p class="stdformbutton">
                </p>
            </div><!--span6-->
        </div><!--row-fluid-->
    </div><!--contentinner-->
</div>
<script>
    function removec(elm) {
        jQuery(elm).parent().remove();
    }
    function addinputc() {
        var p = ' <span class="field"><input type="text" class="span8 content_reason" style="margin-bottom:10px" /><button class="btn" onclick="removec(this)" style="margin-bottom:10px" >Xóa</button></span>';
        jQuery('#group_content').append(p);
    };
    function savea() {
        var c = "";
        jQuery('#group_content input').each(function () {
            c += jQuery(this).val() + '|';
        })
        jQuery('#model_content').val(c);
        jQuery('#btn_Save').click();
    };
    jQuery(document).ready(function () {
        if (jQuery('#model_content').val() != "") {
            var i = jQuery('#model_content').val().split('|');
            jQuery('#group_content').html("");
            for (var j = 0; j < i.length; j++) {
                var p = ' <span class="field"><input type="text" value="' + i[j] + '" class="span8 content_reason" style="margin-bottom:10px" /><button class="btn" onclick="removec(this)" style="margin-bottom:10px" >Xóa</button></span>';
                jQuery('#group_content').append(p);
            }

        }
    });
</script>

